body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

/* Navigation */

.header-nav {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

#navbar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.nav-divider {
  font-size: 2rem;
  padding-right: 2rem;
}

.nav-item {
  padding-right: 2rem;
}

.nav-link {
  padding: 6px 16px 6px 18px;
  text-decoration: none;
  font-size: 24px;
  color: #818181;
  display: block;
}

.nav-link:hover {
  color: #f1f1f1;
}

/*Heading Section*/
.heading-block {
  text-align: center;
  margin: 3% 15%;
}

.title {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

/* Main Content */

.main-section {
  margin-left: 15.625rem;
  margin-right: 15.625rem;
  padding: 10px 10px;
}

.main-doc-header {
  background-color: #e1f4f3;
  font-size: 24px;
  margin: 0 -9999rem;
 /* add back negative margin value */
 padding: 0.75rem 9999rem;
}

.section-subheading {
  font-size: 18px;
  padding-left: 8px;
  padding-top: 1rem;
}

.link-list {
  padding-top: 1.2rem;
}

.fas {
  padding-right: 0.75rem;
}

/*Footer Section*/

footer {
  background-color: #000839;
  margin: 0 -9999rem;
 /* add back negative margin value */
  padding: 0.75rem 9999rem;
  height: 150px;
}

/* Media Queries */

@media screen and (max-height: 450px) {
  #navbar {
    padding-top: 15px;
  }
  .nav-link {
    font-size: 18px;
  }
  .main-section {
    margin-left: 3rem;
    margin-right: 3rem;
}
