body {
  width: 75%;
  font-family: 'Roboto', sans-serif;
}

/* Navigation */

.header-nav {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

#navbar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px; 
}

.nav-link {
  padding: 6px 8px 6px 18px;
  text-decoration: none;
  font-size: 24px;
  color: #818181;
  display: block;
}

.nav-link:hover {
  color: #f1f1f1;
}

/* Main Content */

.main-section {
  margin-left: 200px;
  padding: 10px 10px;
}

.main-doc-header {
  background-color: #e1f4f3;
  font-size: 24px;
  margin: 10px 0;
  padding: 8px;
}


/* Media Queries */

@media screen and (max-height: 450px) {
  #navbar {
    padding-top: 15px;
  }
  .nav-link {
    font-size: 18px;
  }
}
